.page > footer {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding-top: .5rem;
    border-top: 1px solid #ccc;
    background: #fff;
    transform: translateZ(0);

    .icon-menu {
        position: relative;
        flex: 1;
        /*width: 2rem;*/
        height: 3rem;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center top;
        font-size: .7rem;
        color: #a1a1a1;

        &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &.challenges {
            background-image: url(icon/challenges.png);
            &:after {
                content: "Challenges";
            }
        }
        &.ranking {
            background-image: url(icon/ranking.png);
            &:after {
                content: "Ranking";
            }
        }
        &.moments {
            background-image: url(icon/moment.png);
            &:after {
                content: "Moments";
            }
        }
        &.profile {
            background-image: url(icon/profile.png);
            &:after {
                content: "Profile";
            }
        }

        &:active, &.active {
            color: #89C3EB;

            &.challenges {
                background-image: url(icon/challenges-active.png);
            }
            &.ranking {
                background-image: url(icon/ranking-active.png);
            }
            &.moments {
                background-image: url(icon/moment-active.png);
            }
            &.profile {
                background-image: url(icon/profile-active.png);
            }
        }
    }
}