@import "nib";

html, body, section, div, h1, input, textarea, button, p, select, option {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-weight: normal;
}

html {
    font-size: 125%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-input-placeholder {
    color: #fff;
}