@import "_layout";

.page {
    .comments {
        padding: .75rem;
    }
    .comment {
        padding: 1rem 0 .5rem 0;
        border-bottom: 1px solid #dfdfdf;

        .info {
            display: flex;
        }
        .logo {
            width: 2.5rem;
            height: @width;
            border-radius: @width;
            background-position: center;
            background-size: @width @height;
            margin-right: .5rem;
        }
        .nickname {
            font-size: .9rem;
            color: #333;
            line-height: 2.5rem;
        }
        .text {
            font-size: .9rem;
            color: #666;
        }
        .date {
            font-size: .8rem;
            color: #666;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        background: #eaeaea;
        width: 100%;
        padding: .5rem .75rem;

        input[type=text] {
            height: 2.75rem;
            color: #d7d7d7;
            border-radius: .375rem;
            text-indent: .5rem;
            width: 80%;
        }
        input[type=submit] {
            font-size: 1.05rem;
            color: #333;
            background: transparent;
        }
    }
}