@import "_layout";

.page {
    padding: .75rem;

    article {
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid #797979;
        clearfix();
        
        header {
            display: flex;
        }
        .logo {
            width: 2.5rem;
            height: @width;
            background-size: cover;
            background-position: center;
            margin-right: 1rem;
        }
        .nickname {
            font-size: 1.1rem;
            color: #333;
        }
        .date {
            font-size: .7rem;
            color: #666;
        }
        .content {
            padding-bottom: .5rem;
        }
        .imgs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            height: 23rem;
        }
        .img {
            width: 30%;
            height: 30%;
            background-size: cover;
            background-position: center;
        }
        footer {
            .action {
                float: right;
            }
            .icon {
                display: inline-block;
                width: 1.25rem;
                height: @width;
                background: url(icon/star.png);
                background-size: @width @height;
                background-position: center;
            }
            .icon-star {
                background-image: url(icon/star.png);
            }
            .icon-comment {
                background-image: url(icon/comment.png);
            }
        }
    }
}