@import "_layout";
@import "_footer";

.page {
    header {
        background: url(img/ballon-bg.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        font-size: .7rem;
        padding: 1rem;
        position: relative;

        span {
            display: inline-block;
        }
        
        .border-right {
            border-right: 1px solid #fff;
            margin-right: 1rem;
        }
        .logo {
            display: inline-block;
            width: 5rem;
            height: @width;
            border-radius: @width;
            background-size: @width @height;
            background-position: center;
        }
        .icon-setting {
            width: 2rem;
            height: @width;
            background: url(icon/setting.png);
            background-size: @width @height;
            background-position: center;
            position: absolute;
            right: 1rem;
            top: 1rem;

            &:active {
                background-image: url(icon/setting-active.png);
            }
        }
        .icon-crown {
            width: 2.5rem;
            height: @width;
            background: url(icon/crown.png);
            background-size: @width @height;
            background-position: center;
            position: absolute;
            left: 50%;
            top: 2.5rem;
            transform: translateX(-50%);
        }
        .icon-male {
            width: 1.5rem;
            height: @width;
            background-size: @width @height;
            background-position: center;

            &.M {
                background-image: url(icon/male.png);
            }
            &.F {
                background-image: url(icon/female.png);
            }
        }
        .info {
            display: flex;
            align-items: center;
            padding: .5rem 0;
        }
        .follower {
            margin-left: 1rem;
            padding-right: 1rem;
        }
        .second {
            display: flex;
            border-top: 1px solid #fff;
        }
        .item {
            flex: 1;
            height: 1.5rem;
            background-size: @height @height;
            background-repeat: no-repeat;
            padding-left: @height;
            text-align: center;
            line-height: .8rem;
        }
        .favorite {
            background-image: url(icon/favorite.png);
        }
        .ccoin {
            background-image: url(icon/ccoin.png);
        }
        .challenge {
            background-image: url(icon/challenge.png);
        }
    }
}