@import "_layout";
@import "_tabs";
@import "_footer";

body {
    overflow: hidden;
}

/*::-webkit-input-placeholder {
    color: #fff;
}*/

.page {
    width: 100%;

    header {
        position: relative;
        padding: .5rem 1rem;
        background: url(img/ballon-bg.jpg);
        background-size: cover;
        background-position: center;

        .search {
            background: rgba(255,255,255,.4);
            width: 100%;
            height: 2rem;
            border-radius: .5rem;
            position: relative;

            .icon-search {
                position: absolute;
                top: 50%;
                left: .75rem;
                transform: translateY(-50%);
                display: inline-block;
                width: 1.5rem;
                height: @width;
                background: url(icon/search.png);
                background-size: @width @height;
            }
            .input {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 3rem;
                transform: translateY(-50%);
                background: transparent;
                font-size: .8rem;
                color: #333;
            }
        }
        .create {
            margin-top: .5rem;
            clearfix();

            .icon-create {
                display: inline-block;
                width: 5rem;
                height: 1.5rem;
                border-radius: 1.5rem;
                font-size: .8rem;
                background: rgba(255,255,255,.85);
                color: #298CCF;
                text-align: center;
                line-height: @height;
                text-decoration: none;
                float: right;
            }
        }
    }

    .separation {
        border-bottom: .5rem solid #f5f5f5;
    }

    .main {
        padding: 0 1rem;
        position: relative;
        overflow-y: auto;

        .content {
            padding: .5rem 0;
        }
        .title {
            border-left: .25rem solid black;
            text-indent: 1rem;
            font-size: .8rem;
        }
        .item {
            height: 10rem;
            background-size: cover;
            background-position: center;
            position: relative;
            margin-top: .5rem;
        }
        .detail {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(255,255,255,.6);
            text-indent: .5rem;
        }
        .name {
            font-size: .8rem;
        }
        .icon-time {
            display: inline-block;
            width: 1rem;
            height: @width;
            background: url(icon/time.png);
            background-size: @width @height;
            position: relative;
            top: .2rem;
        }
        .icon-location {
            display: inline-block;
            width: 1rem;
            height: @width;
            background: url(icon/location.png);
            background-size: @width @height;
            position: relative;
            top: .2rem;
        }
        .time {
            color: #333;
            font-size: .7rem;
        }
        .price {
            color: #298CCF;
            font-size: 1.2rem;
        }
        .coins {
            color: #666;
            font-size: .7rem;
        }
        .location {
            font-size: .7rem;
        }
    }
}