@import "_layout";
@import "_tabs";
@import "_list";
@import "_footer";

body {
    overflow: hidden;
}

/*::-webkit-input-placeholder {
    color: #fff;
}*/

.page {
    width: 100%;

    header {
        position: relative;
        padding: .5rem 1rem;
        background: url(img/ballon-bg.jpg);
        background-size: cover;
        background-position: center;

        .search {
            background: rgba(255,255,255,.4);
            width: 100%;
            height: 2rem;
            border-radius: .5rem;
            position: relative;

            .icon-search {
                position: absolute;
                top: 50%;
                left: .75rem;
                transform: translateY(-50%);
                display: inline-block;
                width: 1.5rem;
                height: @width;
                background: url(icon/search.png);
                background-size: @width @height;
            }
            .input {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 3rem;
                transform: translateY(-50%);
                background: transparent;
                font-size: .8rem;
                color: #333;
            }
        }
        .create {
            margin-top: .5rem;
            clearfix();

            .icon-create {
                display: inline-block;
                width: 5rem;
                height: 1.5rem;
                border-radius: 1.5rem;
                font-size: .8rem;
                background: rgba(255,255,255,.85);
                color: #298CCF;
                text-align: center;
                line-height: @height;
                text-decoration: none;
                float: right;
            }
        }
    }
}