@import "_layout";

.page {
    header {
        background: url('img/merchant.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1rem 0;
        position: relative;
        &:before {
            content: "";
            background: rgba(255, 255, 255, .55);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .logo {
            width: 6.25rem;
            height: @width;
            border-radius: @width @height;
            margin: 0 auto;
            background-size: @width @height;
            background-position: center;
            position: relative;
        }
        .nickname {
            font-size: 1.2rem;
            color: #fff;
            position: relative;
        }
        .btn {
            background: transparent;
            border: 1px solid #fff;
            font-size: 1rem;
            color: #fff;
            padding: .25rem .5rem;
            position: relative;
            text-decoration: none;
            margin-top: .5rem;
            display: inline-block;
        }
    }
    .separation {
        border-top: .75rem solid #f5f5f5;
        font-size: .7rem;
        color: #333;
        padding: .5rem 1rem;
        position: relative;
    }
    .icon {
        display: inline-block;
        width: 1.5rem;
        height: @width;
        background-size: @width @height;
        background-position: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .icon-addr {
        background-image: url('icon/addr.png');
    }
    .icon-tel {
        background-image: url('icon/tel.png');
    }
    .icon-intro {
        margin-left: -0.75rem;
        &:before {
            content: "Intro";
            font-weight: bold;
            font-family: fantasy;
            font-size: 1rem;
            color: #298CCF;
        }
    }
    .text {
        display: inline-block;
        margin-left: 2rem;
        line-height: 1.6;
    }
}