@import "_layout";

::-webkit-input-placeholder {
    color: #999;
    font-size: .95rem;
}
::-webkit-file-upload-button {
    display: none;
}

.relative {
    position: relative;
}
.page {
    width: 100%;

    .form {
        .input-wrap {
            height: 2.5rem;
            line-height: @height;
            border-top: 1px solid #DFDFDF;
        }
        .textarea-wrap {
            border-top: 1px solid #DFDFDF;
            border-bottom: 1px solid #DFDFDF;
        }
        .img-wrap {
            height: 4.45rem;

            .title {
                display: block;
                padding: .75rem 0;
            }
        }
        input, textarea, select, option, .img-wrap .title {
            width: 100%;
            color: #666;
            font-size: .95rem;
            text-indent: .75rem;
        }
        input[type="file"] {
            width: 4.25rem;
            height: @width;
            border: .1rem solid #333;
        }
        textarea {
            padding-top: .5rem;
            height: 12rem;
        }
        .placeholder {
            display: inline-block;
            color: #666;
            font-size: .95rem;
            text-indent: .75rem;
        }
        .difficulty {
            display: inline-flex;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
        }
        .icon-difficulty {
            display: inline-block;
            width: 1.75rem;
            height: @width;
            background-image: url(icon/difficulty.png);
            background-size: @width @height;
        }
        .btn-add {
            display: inline-block;
            height: 100%;
        }
        .icon-add {
            display: inline-block;
            width: 2.75rem;
            height: @width;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &:before, &:after {
                content: "";
                display: inline-block;
                background: #333;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &:before {
                width: 2.75rem;
                height: .1rem;
            }
            &:after {
                width: .1rem;
                height: 2.75rem;
            }
        }
    }
}