@import "_layout";

body {
    background: url(img/ballon-bg.jpg);
    background-size: cover;
}

.page {
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    background: rgba(255, 255, 255, .6);
    padding: 0 1rem;

    .logo {
        color: #298CCF;
        text-align: center;
        padding: 2rem 0;
        font-size: 2rem;
    }

    .account {
        .input {
            display: block;
            width: 100%;
            height: 2rem;
            border-radius: .25rem;
            background: rgba(137, 195, 235, .6);
            text-indent: .5rem;
            font-size: .8rem;
            color: #fff;
            margin-bottom: .5rem;
        }
        input[type=file] {
            display: none;
        }
        select {
            width: 100%;
            color: #666;
            font-size: 0.95rem;
            text-indent: 0.75rem;
        }
        .icon-camera {
            display: block;
            width: 3rem;
            height: @width;
            background: url(icon/camera.png);
            background-size: @width @height;
            margin: 0 auto 1rem auto;
        }
        .btn {
            display: block;
            width: 50%;
            height: 2.5rem;
            margin: 1rem auto 0 auto;
            border-radius: .25rem;
            background: rgb(137, 195, 235);
            font-size: .9rem;
            color: #fff;
        }
    }
    .other {
        margin-top: 2rem;
        .text {
            color: #999;
            font-size: .8rem;
        }
        .social {
            margin-top: 1rem;
            display: flex;
        }
        .icon-social {
            flex: 1;
            /*width: 2.5rem;*/
            height: 2.5rem;
            background-size: @height @height;
            background-repeat: no-repeat;
            background-position: center;

            &.facebook {
                background-image: url(icon/facebook.png);
            }
            &.twitter {
                background-image: url(icon/twitter.png);
            }
            &.weibo {
                background-image: url(icon/weibo.png);
            }
            &.weixin {
                background-image: url(icon/weixin.png);
            }
        }
    }
}