{% extends 'layout.html' %}
{% block title %}Cap Pas Cap | 页面不存在{% endblock %}
{% block css %}
<style type="text/css">
    .lost_child_box {
        border: 0 none !important;
        box-shadow: none !important;
    }
    .mod_lost_child .hd {
        background: none !important;
    }
    .mod_lost_child .bd {
        border-left: 1px solid #D9D9D9;
        border-right: 1px solid #D9D9D9; 
    }
    .mod_lost_child .ft, .mod_lost_child_little .ft {
        background: none !important;
    }
    .mod_lost_child .hd .wrong {
        color: #FF6F6F !important;
    }
    .mod_lost_child .child_info .child_pic a {
        -webkit-transition: opacity .3s ease !important;
        transition: opacity .3s ease !important;
    }
    .mod_lost_child .child_info .child_pic a:hover {
        opacity: .7 !important;
    }
    .mod_lost_child .hd p {
        color: #FF6F6F !important;
    }
    .desc{
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block page %}
<section class="supplimental">
    <div class="wrapper">
        <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8" homepagename="Back to CapPasCap" homepageurl="http://airj.me"></script>
    </div>
</section>
{% endblock %}