{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/comment.css">
{% endblock %}

{% block js %}
<script src="/js/comment.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <section class="comments">
        <section class="comment">
            <div class="info">
                <div class="logo" style="background-image: url(/css/img/logo.png);"></div>
                <p class="nickname">ca**p</p>
            </div>
            <p class="text">This activity is very interesting and exciting!</p>
            <p class="date">2016-5-12   23:03:34</p>
        </section>
        <section class="comment">
            <div class="info">
                <div class="logo" style="background-image: url(/css/img/logo.png);"></div>
                <p class="nickname">ca**p</p>
            </div>
            <p class="text">This activity is very interesting and exciting!</p>
            <p class="date">2016-5-12   23:03:34</p>
        </section>
    </section>
    <footer>
        <form action="/api/challenge/:cid/review/:rid/comment" method="POST">
            <input type="text" placeholder="Send review">
            <input type="submit" value="Send">
        </form>
    </footer>
</section>
{% endblock %}