{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/comment.css">
{% endblock %}

{% block js %}
<script src="/js/comment.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <section class="comments">
        {% for comment in comments %}
        <section class="comment">
            <div class="info">
                <div class="logo" style="background-image: url({{ comment.creator.logo|default('/css/img/logo.png') }});"></div>
                <p class="nickname">{{ comment.creator.nickname }}</p>
            </div>
            <p class="text">{{ comment.desc }}</p>
            <p class="date">{{ comment.create|date('Y-m-d g:i:s') }}</p>
        </section>
        {% endfor %}
    </section>
    <footer>
        <form id="commentForm" action="/api/challenge/{{ cid }}/review/{{ rid }}/comment" method="POST" data-cid="{{ cid }}">
            <input id="desc" type="text" placeholder="Send review" required>
            <input id="submit" type="submit" value="Send">
        </form>
    </footer>
</section>
{% endblock %}