{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}

{% block js %}
<script src="/js/detail.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <section class="tabs">
            <div class="tab active" data-tab="detail">
                <span class="text">Details</span>
                <div class="bar"></div>
            </div>
            {% if challenge.isOver %}
            <div class="tab" data-tab="moment">
                <span class="text">Moments</span>
                <div class="bar"></div>
            </div>
            {% endif %}
            <div class="tab" data-tab="review">
                <span class="text">Reviews</span>
                <div class="bar"></div>
            </div>
        </section>
    </header>
    <section class="content">
        <section class="detail" data-content="detail">
            <section class="cover" style="background-image: url({{ challenge.imgs[0]|default('/css/img/cover.png')}});"></section>
            <section class="name">
                <p>{{ challenge.name }}</p>
            </section>
            <section class="like">
                {% if challenge.hasFavorited %}
                <button id="favorite" class="btn done" data-cid="{{ challenge.cid }}">Favorited</button>
                {% else %}
                <button id="favorite" class="btn" data-cid="{{ challenge.cid }}">Favorite</button>
                {% endif %}
            </section>
            <section class="info">
                <div class="item">
                    <span class="title">Time:</span>
                    <span>{{ challenge.start|date('Y.m.d') }}-{{ challenge.end|date('Y.m.d') }}</span>
                </div>
                <div class="item">
                    <span class="title">Location:</span>
                    <span>{{ challenge.location }}</span>
                </div>
                <div class="item">
                    <span class="title">Difficulty:</span>
                    <span class="difficulty">
                        {% for item in challenge.difficulty %}
                        <span class="icon-difficulty active"></span>
                        {% endfor %}
                    </span>
                </div>
                <div class="item">
                    <span class="title">Reward:</span>
                    <span>Winners will get losers' c-coins.</span>
                </div>
            </section>
            <section class="desc">
                <p class="title">Description</p>
                <p class="text">{{ challenge.desc }}</p>
                {% for img in challenge.imgs %}
                <div class="img" style="background-image: url({{ img }});"></div>
                {% endfor %}
            </section>
        </section>
        {% if challenge.isOver %}
        <section class="moment hide" data-content="moment"></section>
        {% endif %}
        <section class="review hide" data-content="review">
            <article>
                <header>
                    <div class="logo" style="background-image: url(/css/img/logo.png);"></div>
                    <div class="detail">
                        <p class="nickname">ca**p</p>
                        <p class="date">2015.06.29</p>
                    </div>
                </header>
                <section class="content">
                    <section class="imgs">
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                    </section>
                    <section class="text">
                        <p>cap pas cap cap pas cap cap pas cap</p>
                    </section>
                </section>
                <footer>
                    <div class="action">
                        <span class="icon icon-star"></span>
                        <span class="num">0</span>
                        <span class="icon icon-comment"></span>
                        <span class="num">0</span>
                    </div>
                </footer>
            </article>
            <article>
                <header>
                    <div class="logo" style="background-image: url(/css/img/logo.png);"></div>
                    <div class="detail">
                        <p class="nickname">ca**p</p>
                        <p class="date">2015.06.29</p>
                    </div>
                </header>
                <section class="content">
                    <section class="imgs">
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                        <div class="img" style="background-image: url(/css/img/comment.png);"></div>
                    </section>
                    <section class="text">
                        <p>cap pas cap cap pas cap cap pas cap</p>
                    </section>
                </section>
                <footer>
                    <div class="action">
                        <span class="icon icon-star"></span>
                        <span class="num">0</span>
                        <span class="icon icon-comment"></span>
                        <span class="num">0</span>
                    </div>
                </footer>
            </article>
        </section>
    </section>
    <footer>
        <span class="fee">${{ challenge.fee }} (c-coin {{ challenge.fee * 0.95 }})</span>
        <span class="join">{{ challenge.joinedCount|default(0) }} Joined</span>
        {% if challenge.hasJoined %}
        <button class="btn disabled">Joined</button>
        {% else %}
        <a class="btn" href="/page/challenge/{{ challenge.cid }}/order">Join</a>
        {% endif %}
    </footer>
</section>
{% endblock %}