{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}

{% block js %}
<script src="/js/detail.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <div id="back" class="back"></div>
        <section class="tabs">
            <div class="tab{% if tab === 'detail' %} active{% endif %}" data-tab="detail">
                <span class="text">Details</span>
                <div class="bar"></div>
            </div>
            {% if challenge.isOver %}
            <div class="tab{% if tab === 'moment' %} active{% endif %}" data-tab="moment">
                <span class="text">Moments</span>
                <div class="bar"></div>
            </div>
            {% endif %}
            <div class="tab" data-tab="review">
                <span class="text">Reviews</span>
                <div class="bar"></div>
            </div>
        </section>
    </header>
    <section class="content">
        <section class="detail{% if tab !== 'detail' %} hide{% endif %}" data-content="detail">
            <section class="cover" style="background-image: url({{ challenge.imgs[0]|default('/css/img/cover.png')}});"></section>
            <section class="name">
                <p>{{ challenge.name }}</p>
            </section>
            <section class="like">
                {% if challenge.hasFavorited %}
                <button id="favorite" class="btn done" data-cid="{{ challenge.cid }}">Favorited</button>
                {% else %}
                <button id="favorite" class="btn" data-cid="{{ challenge.cid }}">Favorite</button>
                {% endif %}
            </section>
            <section class="info">
                <div class="item">
                    <span class="title">Time:</span>
                    <span>{{ challenge.start|date('Y.m.d') }}-{{ challenge.end|date('Y.m.d') }}</span>
                </div>
                <div class="item">
                    <span class="title">Location:</span>
                    <span>{{ challenge.location }}</span>
                </div>
                <div class="item">
                    <span class="title">Difficulty:</span>
                    <span class="difficulty">
                        {% for item in challenge.difficulty %}
                        <span class="icon-difficulty active"></span>
                        {% endfor %}
                    </span>
                </div>
                <div class="item">
                    <span class="title">Reward:</span>
                    <span>Winners will get losers' c-coins.</span>
                </div>
            </section>
            <section class="desc">
                <p class="title">Description</p>
                <p class="text">{{ challenge.desc }}</p>
                {% for img in challenge.imgs %}
                <div class="img" style="background-image: url({{ img }});"></div>
                {% endfor %}
            </section>
            <footer>
                <span class="fee">${{ challenge.fee }} (c-coin {{ challenge.fee * 0.95 }})</span>
                <span class="join">{{ challenge.joinedCount|default(0) }} Joined</span>
                {% if user.type !== 'M' %}
                {% if challenge.hasJoined %}
                <button class="btn disabled">Joined</button>
                {% else %}
                <a class="btn" href="/page/challenge/{{ challenge.cid }}/order">Join</a>
                {% endif %}
                {% endif %}
            </footer>
        </section>
        {% if challenge.isOver %}
        <section class="moment{% if tab !== 'moment' %} hide{% endif %}" data-content="moment">
            {% if !challenge.moments && mine %}
            <footer>
                <a class="btn" href="/page/challenge/{{ challenge.cid }}/moment/publish"></a>
            </footer>
            {% else %}
            {% set comment = challenge.moments[0] %}
            <section class="cover" style="background-image: url({{ comment.imgs[0]|default('/css/img/cover.png')}});"></section>
            <section class="winner">
                <span class="icon-winner"></span>
                <p>{{ comment.winner }}</p>
            </section>
            <section class="desc">
                <p class="text">{{ comment.desc }}</p>
                {% for img in comment.imgs %}
                <div class="img" style="background-image: url({{ img }});"></div>
                {% endfor %}
            </section>
            {% endif %}
        </section>
        {% endif %}
        <section class="review{% if tab !== 'review' %} hide{% endif %}" data-content="review">
            {% for review in challenge.reviews %}
            <article>
                <header>
                    <div class="logo" style="background-image: url({{ review.creator.logo|default('/css/img/logo.png') }});"></div>
                    <div class="detail">
                        <p class="nickname">{{ review.creator.nickname }}</p>
                        <p class="date">{{ review.create|date('Y.m.d')}}</p>
                    </div>
                </header>
                <section class="content">
                    <section class="imgs">
                        {% for img in review.imgs %}
                        <div class="img" style="background-image: url({{ img }});"></div>
                        {% endfor %}
                    </section>
                    <section class="text">
                        <p>{{ review.desc }}</p>
                    </section>
                </section>
                <footer>
                    <div class="action">
                        <span class="icon icon-star{% for star in review.stars %}{% if user.uid === star %} done{% endif %}{% endfor %}" data-cid="{{ challenge.cid }}" data-rid="{{ loop.index0 }}"></span>
                        <span class="num">{{ review.stars.length|default(0) }}</span>
                        <a class="comment" href="/page/challenge/{{ challenge.cid }}/review/{{ loop.index0 }}">
                            <span class="icon icon-comment"></span>
                            <span class="num">{{ review.comments.length|default(0) }}</span>
                        </a>
                    </div>
                </footer>
            </article>
            {% endfor %}
            <footer>
                <a class="btn" href="/page/challenge/{{ challenge.cid }}/review/publish"></a>
            </footer>
        </section>
    </section>
</section>
{% endblock %}