{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block js %}
<script src="/js/home.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <div class="logo" style="background-image: url({{ ta.logo|default('/css/img/logo.png') }});"></div>
        {% if mine %}
        <a class="icon-setting" href="/page/setting"></a>
        {% else %}
        {% if followed %}
        <button id="follow" class="btn done" data-uid="{{ ta.uid }}">Followed</button>
        {% else %}
        <button id="follow" class="btn" data-uid="{{ ta.uid }}">Follow</button>
        {% endif %}
        {% endif %}
        <span class="icon-crown"></span>
        <section class="info">
            <span class="icon-male {{ ta.gender|default('') }}"></span>
            <span class="nickname">{{ ta.nickname }}</span>
            <span class="follower border-right"><span id="followers">{{ ta.followers.length|default(0) }}</span> Followers</span>
            <span class="following">{{ ta.followings.length|default(0) }} Followings</span>
        </section>
        <section class="info second">
            <span class="item favorite border-right">{{ ta.favorites.length|default(0) }}<br>Favorites</span>
            <span class="item ccoin border-right">{{ ta.coins|default(0) }}<br>C-Coin</span>
            <span class="item challenge">{{ ta.joins.length|default(0) }}<br>Challenges</span>
        </section>
    </header>
    <section class="timeline">
        {% set map = {'edit': 'Edit', 'publish': 'Launch a challenge activity', 'favorite': 'Like a challenge activity', 'join': 'Accept a challenge activity', 'review': 'Post a review to', 'comment': 'Post a comment to'} %}
        {% for feed in feeds %}
        <article>
            <div class="date">
                <p class="month">{{ feed.create|date('M') }}</p>
                <p class="day">{{ feed.create|date('d') }}</p>
            </div>
            <section class="feed">
                <div class="icon icon-{{ feed.type }}"></div>
                <div class="detail">
                    <p class="text">
                        {{ map[feed.type] }}
                        <span class="name">{{ feed.name }}</span>
                    </p>
                    <p class="time">{{ feed.create|date('i:s') }}</p>
                </div>
            </section>
        </article>
        {% endfor %}
    </section>
    {% include 'footer.html' %}
</section>
{% endblock %}