{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block js %}
<script src="/js/home.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <div class="logo" style="background-image: url({{ ta.logo|default('/css/img/logo.png') }});"></div>
        {% if mine %}
        <a class="icon-setting" href="/page/setting"></a>
        {% endif %}
        <span class="icon-crown"></span>
        <section class="info">
            <span class="icon-male {{ ta.gender|default('') }}"></span>
            <span class="nickname">{{ ta.nickname }}</span>
            <span class="follower border-right">15 Followers</span>
            <span class="following">20 Followings</span>
        </section>
        <section class="info second">
            <span class="item favorite border-right">{{ ta.favorites.length|default(0) }}<br>Favorites</span>
            <span class="item ccoin border-right">98<br>C-Coin</span>
            <span class="item challenge">{{ ta.joins.length|default(0) }}<br>Challenges</span>
        </section>
    </header>
    <section class="timeline"></section>
    {% include 'footer.html' %}
</section>
{% endblock %}