{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <section class="search">
            <span class="icon-search"></span>
            <input type="search" class="input" placeholder="search challenge">
        </section>
        <span class="icon-create">+ create</span>
    </header>
    <section class="main">
        <section class="tabs">
            <span class="tab">Merchant</span>
            <span class="tab">Individual</span>
        </section>
    </section>
    <footer>
        <span class="icon-menu challenges"></span>
        <span class="icon-menu ranking"></span>
        <span class="icon-menu moment"></span>
        <span class="icon-menu profile"></span>
    </footer>
</section>
{% endblock %}