{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block js %}
<script src="/js/index.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <section class="search">
            <span class="icon-search"></span>
            <input type="search" class="input" placeholder="search challenge">
        </section>
        <section class="create">
            <a class="icon-create" href="/page/publish">+ create</a>
        </section>
    </header>
    <section class="tabs separation">
        <div class="tab active" data-tab="merchant">
            <span class="text">Merchant</span>
            <div class="bar"></div>
        </div>
        <div class="tab" data-tab="individual">
            <span class="text">Individual</span>
            <div class="bar"></div>
        </div>
    </section>
    <section class="main">
        <section class="content merchant" data-content="merchant">
            <h1 class="title">Recommondation</h1>
            <article class="list">
                {% for chall in lists.M %}
                <section class="item" data-cid="{{ chall.cid }}" style="background-image: url(/css/img/item.jpg);">
                    <div class="detail">
                        <p class="name">{{ chall.name }}</p>
                        <p class="line">
                            <span class="icon-time"></span>
                            <span class="time">20 June, 2015</span>
                            <span class="price">${{ chall.fee }}</span>
                            <span class="coins">(c-coins {{ chall.fee * 9.5 }})</span>
                        </p>
                        <p class="line">
                            <span class="icon-location"></span>
                            <span class="location">{{ chall.location }}</span>
                        </p>
                    </div>
                </section>
                {% endfor %}
            </article>
        </section>
        <section class="content individual hide" data-content="individual">
            <h1 class="title">RecommondationIndividual</h1>
            <article class="list">
                {% for chall in lists.I %}
                <section class="item" data-cid="{{ chall.cid }}" style="background-image: url(/css/img/item.jpg);">
                    <div class="detail">
                        <p class="name">{{ chall.name }}</p>
                        <p class="line">
                            <span class="icon-time"></span>
                            <span class="time">20 June, 2015</span>
                            <span class="price">${{ chall.fee }}</span>
                            <span class="coins">(c-coins {{ chall.fee * 9.5 }})</span>
                        </p>
                        <p class="line">
                            <span class="icon-location"></span>
                            <span class="location">{{ chall.location }}</span>
                        </p>
                    </div>
                </section>
                {% endfor %}
            </article>
        </section>
    </section>
    <footer>
        <span class="icon-menu challenges"></span>
        <span class="icon-menu ranking"></span>
        <span class="icon-menu moment"></span>
        <span id="profileMenu" class="icon-menu profile"></span>
    </footer>
</section>
{% endblock %}