<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="jiang115jie@gmail.com">
    <meta name="copyright" content="cap-pas-cap">
    <meta name="application-name" content="cap-pas-cap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Cap Pas Cap{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    {% block page %}{% endblock %}
    <script src="/js/lib/zepto.js"></script>
    <!-- <script src="http://10.0.0.4:8080/target/target-script-min.js#anonymous"></script> -->
    {% block js %}{% endblock %}
</body>
</html>