{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/merchant.css">
{% endblock %}

{% block js %}
<script src="/js/home.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <header>
        <div class="logo" style="background-image: url({{ ta.logo|default('/css/img/kfc.png') }});"></div>
        {% if mine %}
        <a class="icon-setting" href="/page/setting"></a>
        {% endif %}
        <p class="nickname">{{ ta.name }}</p>
        {% if me %}
        <a class="btn" href="/page/publish">Lauch&nbsp;Challenge</a>
        {% else %}
        {% if followed %}
        <button class="btn">Followed</button>
        {% else %}
        <button id="follow" class="btn" data-uid="{{ ta.uid }}">+&nbsp;Follow</button>
        {% endif %}
        {% endif %}
    </header>
    <section class="location separation">
        <span class="icon icon-addr"></span>
        <span class="text">{{ ta.address }}</span>
    </section>
    <section class="tel separation">
        <span class="icon icon-tel"></span>
        <span class="text">{{ ta.tel }}</span>
    </section>
    <section class="intro separation">
        <span class="icon icon-intro"></span>
        <span class="text">{{ ta.desc }}</span>
    </section>
    <section class="challenges separation"></section>
    {% include 'footer.html' %}
</section>
{% endblock %}