{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/review.css">
{% endblock %}

{% block js %}
<script src="/js/review.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <form id="reviewForm" action="/api/challenge/{{ challenge.cid }}/moment" method="POST">
        <input id="uidInput" class="input" type="email" placeholder="Winner" required>
        <textarea id="desc" placeholder="Moment..." required></textarea>
        <input id="file" type="file" accept="image/*" multiple>
        <!-- <div class="img" style="background-image: url(/css/img/publish.jpg);"></div>
        <div class="img" style="background-image: url(/css/img/publish.jpg);"></div> -->
        <label for="file" class="btn-add"></label>
        <input id="submit" class="btn" type="submit" value="Submit">
    </form>
</section>
{% endblock %}