{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/order.css">
{% endblock %}

{% block js %}
<script src="/js/order.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <section class="info">
        <div class="img" style="background-image: url({{ challenge.imgs[0]|default('/css/img/item.jpg') }});"></div>
        <div class="text">
            <p class="name">{{ challenge.name }}</p>
            <p class="time">Time: {{ challenge.start|date('Y.m.d') }}-{{ challenge.end|date('Y.m.d') }}</p>
            <p class="location">{{ challenge.location }}</p>
        </div>
    </section>
    <section class="detail">
        <p class="title">Order Details</p>
        <p class="item fee">
            <span>Price</span>
            <span>c-coin <span id="price">{{ challenge.fee * 0.95 }}</span></span>
        </p>
        <p class="item amount">
            <span>Amount</span>
            <span class="num">
                <span id="div" class="icon-div">-</span>
                <span id="num">1</span>
                <span id="add" class="icon-add">+</span>
            </span>
        </p>
        <p class="item price">
            <span>Total Price</span>
            <span class="total">c-coin <span id="total">{{ challenge.fee * 0.95 }}</span></span>
        </p>
    </section>
    <footer>
        {% if challenge.hasJoined %}
        <button id="join" class="btn disabled" data-cid="{{ challenge.cid }}">Joined</button>
        {% else %}
        <button id="join" class="btn" data-cid="{{ challenge.cid }}">Join</button>
        {% endif %}
    </footer>
</section>
{% endblock %}