{% extends 'layout.html' %}

{% block title %}Challenge Information{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/publish.css">
{% endblock %}

{% block js %}
<script src="/js/publish.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <section class="form">
        <form id="publishForm" action="/api/challenge/publish" method="POST">
            <div class="input-wrap">
                <input id="nameInput" class="input" type="text" value="Test Challenge" placeholder="Challenge Name" required maxlength="100">
            </div>
            <div class="input-wrap">
                <select id="typeSelect" class="input" required>
                    <option disabled selected value="">Challenge Type</option>
                    <option value="food">Food</option>
                    <option value="sport">Sport</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="shopping">Shopping</option>
                    <option value="technical">Technical</option>
                    <option value="study">Study</option>
                    <option value="creative">Creative</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="input-wrap">
                <input id="deadlineInput" class="input" type="date" value="2015-08-15" placeholder="Sign up deadline">
            </div>
            <div class="input-wrap">
                <input id="startTimeInput" class="input" type="date" value="2015-08-01" placeholder="Start Time" required>
            </div>
            <div class="input-wrap">
                <input id="endTimeInput" class="input" type="date" value="2015-08-30" placeholder="End Time" required>
            </div>
            <div class="input-wrap">
                <input id="locationInput" class="input" type="text" value="Lantau Island, Hong Kong" placeholder="Location" required maxlength="100">
            </div>
            <div class="input-wrap">
                <input id="feeInput" class="input" type="number" value="50" placeholder="Participating fee (c-coin)" required min="1" max="100">
            </div>
            <div class="input-wrap">
                <input id="participatorsInput" class="input" type="number" value="100" placeholder="Max Participators" required min="1" max="100">
            </div>
            <div class="input-wrap relative">
                <!-- <input type="text" placeholder="Difficulty"> -->
                <span class="placeholder">Difficulty</span>
                <span class="difficulty">
                    <span class="icon-difficulty" data-i="1"></span>
                    <span class="icon-difficulty" data-i="2"></span>
                    <span class="icon-difficulty" data-i="3"></span>
                    <span class="icon-difficulty" data-i="4"></span>
                    <span class="icon-difficulty" data-i="5"></span>
                </span>
            </div>
            <div class="textarea-wrap">
                <textarea id="description" value="12 kilomiter Challenge" placeholder="Description" required maxlength="500"></textarea>
            </div>
            <div class="img-wrap">
                <span class="title">Upload Picture</span>
                <!-- <div class="img" style="background-image: url(/css/img/publish.jpg);"></div>
                <div class="img" style="background-image: url(/css/img/publish.jpg);"></div> -->
                <input id="file" type="file" accept="image/*" multiple>
                <label for="file" class="btn-add"></label>
            </div>
            <input class="btn" type="submit" value="Submit">
        </form>
    </section>
</section>
{% endblock %}