{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/review.css">
{% endblock %}

{% block js %}
<script src="/js/review.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <form action="/api/challenge/:cid/review" method="POST">
        <textarea placeholder="Say something..."></textarea>
        <input id="file" type="file">
        <div class="img" style="background-image: url(/css/img/publish.jpg);"></div>
        <div class="img" style="background-image: url(/css/img/publish.jpg);"></div>
        <label for="file" class="btn-add"></label>
        <input class="btn" type="submit" value="Submit">
    </form>
</section>
{% endblock %}