{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/css/sign.css">
{% endblock %}

{% block js %}
<script src="/js/signin.js"></script>
{% endblock %}

{% block page %}
<section class="page">
    <h1 class="logo">Cap Pas Cap</h1>
    <section class="account">
        <form id="signinForm" action="/api/signin" method="POST">
            <input id="uidInput" class="input" type="email" placeholder="Email:" required maxlength="100">
            <input id="pwdInput" class="input" type="password" placeholder="Password:" required maxlength="20">
            <input class="btn" type="submit" value="Sign in">
        </form>
    </section>
    <section class="other">
        <span class="text">Sign with others</span>
        <div class="social">
            <span class="icon-social facebook"></span>
            <span class="icon-social twitter"></span>
            <span class="icon-social weibo"></span>
            <span class="icon-social weixin"></span>
        </div>
    </section>
</section>
{% endblock %}